
body {background-color: brown;
    color: skyblue;
    font-size: 20px;
}
button {
    background-color: darkblue;
    color: white;
}
.container {
background-color: maroon;
    background-position: contain;
}
@import "~bootstrap/dist/css/bootstrap.css"
